node_modules/
.DS_Store/
.DS_Store
.env
src/.DS_Store
public/images
public/tmp
dist/
docs/private/

# hide certifications
server.key
server.crt
chain.pem

# deploy scripts
copy-server-keys.sh
deploy.sh

# hide sensitive files needed to deploy
db/secret/

# db/secret/cert.pem
# db/secret/key.pem
